@page "/my-profile"
@using GamP_SCPeriop.Shared
@using Blazored.LocalStorage
@using static GamP_SCPeriop.Helpers.UIHelpers
@layout TopNavBarLayout
@inject HttpClient Http
@inject NavigationManager Nav
@inject ILocalStorageService LocalStorage

<div class="container mt-4">
    <div class="row">
        <div class="max-width-container mt-3 px-2">
            <h4 class="fw-bold mb-4">My Pathways</h4>
            @if (enrollments == null)
            {
                <p>Loading Pathways</p>
            }
            else if (enrollments.Count == 0)
            {
                <p>No Pathways</p>
            }
            else
            {
                @* Header *@
                <div class="row text-muted small p-3 bg-white border-bottom m-0">
                    <div class="col-5 fw-bold px-2">Nome</div>
                    <div class="col-4 fw-bold px-2">Pathway</div>
                    <div class="col-3 text-end fw-bold px-2">Progresso</div>
                </div>

                @foreach (var enrollment in enrollments)
                {
                    var isOpen = openPathways.Contains(enrollment.PathwayId);
                    <div class="card shadow-sm mb-3 border-0" style="border-radius: 25px;">
                        <div class="p-4 d-flex justify-content-between align-items-center no-select" @onclick="() => TogglePathway(enrollment.PathwayId)" style="cursor: pointer;">
                            <div class="d-flex align-items-center">
                                <i class="bi @(isOpen ? "bi-chevron-down" : "bi-chevron-right") me-3 text-muted"></i>
                                <div>
                                    <h5 class="fw-bold mb-0">@enrollment.Pathway?.Title</h5>
                                    <small class="text-muted" style="font-size: 0.7rem;">@(enrollment.Student?.DisplayShortName ?? "Aluno")</small>
                                </div>                                
                            </div>

                            <div class="text-end d-flex flex-column align-items-end">
                                <small class="text-muted mb-1" style="font-size: 0.7rem;">@enrollment.EndDate.ToString("dd, MMM yyyy")</small>
                                
                                <div class="d-flex align-items-center gap-2">
                                    <small class="text-muted">@(enrollment.ProgressPercentage == 100 ? "Concluído" : "Em Curso")</small>

                                    <div class="bg-light" style="width: 60px; height: 6px; border-radius: 10px; overflow: hidden;">
                                        <div class="bg-primary h-100" style="width: @(enrollment.ProgressPercentage)%;"></div>
                                    </div>
                                        
                                    <small class="text-primary">@(enrollment.ProgressPercentage)%</small>
                                </div>                                                                    
                            </div>
                        </div>
                        @if (isOpen && enrollment.Pathway?.Modules != null)
                        {
                            <div class="px-4 pb-2">
                                @foreach (var module in enrollment.Pathway.Modules)
                                {
                                    <div class="d-flex justify-content-between align-items-center py-3 border-top no-select" @onclick='() => Nav.NavigateTo($"/module/{module.Id}")' style="cursor: pointer;">
                                        <div>
                                            <div class="fw-bold fs-6 mb-0">@module.Title</div>
                                            <small class="text-success" style="font-size: 0.75rem;">@module.Status</small>
                                        </div>

                                        <div>                                            
                                            <i class="bi bi-eye text-primary fs-5"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private User? currentUser;
    private List<Pathway>? pathways;
    private List<Enrollment>? enrollments;

    private HashSet<int> openPathways = new HashSet<int>();
    private HashSet<int> openModules = new HashSet<int>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var hasUser = await LocalStorage.ContainKeyAsync("user");

            if (!hasUser)
            {
                Nav.NavigateTo("/login");
                return;
            }

            currentUser = await LocalStorage.GetItemAsync<User>("user");

            if (currentUser?.Role == UserRole.Supervisor)
            {
                Nav.NavigateTo("/dashboard");
                return;
            }

            enrollments = await Http.GetFromJsonAsync<List<Enrollment>>($"api/Enrollment/student/{currentUser.Id}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Critical error: {ex.Message}");
        }
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("user");
        Nav.NavigateTo("/login");
    }

    private void TogglePathway(int id)
    {
        if (openPathways.Contains(id))
        {
            openPathways.Remove(id);
        }
        else
        {
            openPathways.Add(id);
        }
    }

    private void ToggleModule(int id)
    {
        if (openModules.Contains(id))
        {
            openModules.Remove(id);
        }
        else
        {
            openModules.Add(id);
        }
    }
}
